.client-list {
    background-color: $grey-light;
    overflow: hidden;
}

.clinet-list__container {
    display: flex;
    flex-direction: column;
    padding: 130px 0;
    // align-items: center;

    @include mq($md) {
        padding: 70px 0;
    }

    @include mq($sm) {
        padding-bottom: 50px;
    }
}

.client-list-heading__box {
    display: flex;
    justify-content: center;
}

.client-list-heading {
    font-family: $font-main-bold;
    font-size: 50px;
    letter-spacing: 1px;
    color: $black;
    margin-bottom: 80px;

    @include mq($md) {
        font-size: 35px;
        margin-bottom: 45px;
    }
}

.client-list__slider-box {
    margin-top: -10px;
    padding: 0 40px 0 0;
    // width: 200px;

    @include mq($sm) {
        padding: 0;
    }
}

.client-card {
    max-width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;

    @include mq($md) {
        max-width: 180px;
        margin-right: 50px;
    }

    &--niraste {
        max-width: 255px;

        @include mq($md) {
            max-width: 235px;
        }
    }

    &--earth-2 {
        max-width: 220px;
        
        @include mq($md) {
            min-width: 200px;
        }
    }
}


.client-list__slider-box > .slick-list {
    overflow: visible;
}