.client-list {
    background-color: $grey-light;
    overflow: hidden;
}

.clinet-list__container {
    display: flex;
    flex-direction: column;
    padding: 130px 0;
    align-items: center;

    @include mq($md) {
        padding: 70px 0;
    }

    @include mq($sm) {
        padding-bottom: 50px;
    }
}

.client-list-heading__box {
    display: flex;
    justify-content: center;
}

.client-list-heading {
    font-family: $font-main-bold;
    font-size: 50px;
    letter-spacing: 1px;
    color: $black;
    margin-bottom: 80px;

    @include mq($md) {
        font-size: 35px;
        margin-bottom: 45px;
    }
}

.client-list__slider-box {
    margin-top: -10px;
    max-width: 1100px;

    @include mq($md) {
        max-width: 400px;
    }

    @include mq($sm) {
        max-width: 350px;
        padding: 0;
    }
}

.client-card {
    margin: 0 50px;
    margin-bottom: 10px;

    @include mq($md) {
        margin: 0 30px;
        margin-bottom: 0;
    }
}


.client-list__slider-box > .slick-list {
    overflow: visible;
}