/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}

// Top Level Items
.site-nav {
	line-height: 2;
}

.site-nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@include mq($xl) {
		display: block;
	}

	> .menu-item {
		position: relative;

		@include mq($xl + 1, 'min') {
			margin-left: 20px;

			&:first-child {
				margin: 0;
			}

			&.menu-item-has-children {
				padding-right: 20px;
			}
		}

		@include mq($xl) {
			margin: 0 0 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid rgba($white, .2);
			overflow: hidden;
			transition: $dur $ease;

			&:last-child {
				border: 0;
				margin: 0;
			}
		}

		@include hover {
			> a::after {
				transform: translateX(-50%) scaleX(1);
			}

			> .sub-menu {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}

		> a {
			display: block;
			position: relative;
			text-decoration: none;
			color: $white;
			transition: $dur $ease;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%) scaleX(0);
				width: 100%;
				height: 1px;
				background-color: $white;
				transition: $dur $ease;
			}
		}
	}

	&.current_page_item > a,
	&.current-menu-item > a,
	&.current_page_ancestor > a,
	&.current-menu-ancestor > a {
		color: $red;
	}
}

.site-nav__icon {
	color: $white;
	right: 0;
	@include center(y);

	@include mq($xl) {
		z-index: 10;
		cursor: pointer;
		font-size: 20px;
		padding: 5px;
		top: 1px;
		transform: none;
		transition: $dur $ease;

		&.is-active {
			transform: rotate(180deg);
		}
	}
}

// Sub Menu Items
.sub-menu {
	@include mq($xl + 1, 'min') {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		background-color: $white;
		transition: $dur $ease;
		transform: translateY(5px);
		opacity: 0;
		visibility: hidden;
		padding: 15px;
		list-style: none;
		margin: 0;
		font-size: 14px;
		line-height: 1.3;
		box-shadow: 5px 5px 0 0 rgba($black, .3);

		.sub-menu {
			left: 100%;
			top: 0;
			transform: translateX(5px);
		}
	}

	@include mq($xl) {
		padding-left: 15px;
		overflow: hidden;
		display: none;
	}

	.menu-item {
		position: relative;

		@include mq($xl + 1, 'min') {
			margin: 20px 0;
			position: relative;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;

				&::after {
					content: none;
				}
			}

			&::after {
				content: '';
				display: block;
				background-color: $red;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: -10px;
				left: 0;
			}

			&.menu-item-has-children {
				padding-right: 20px;
			}
		}

		@include hover {
			> a {
				color: $red;
			}

			> .sub-menu {
				transform: translateX(0);
				opacity: 1;
				visibility: visible;
			}
		}

		a {
			display: block;
			color: $black;
			transition: $dur $ease;

			@include mq($xl + 1, 'min') {
				width: 200px;
			}

			@include mq($xl) {
				color: $white;
				font-size: 14px;
			}
		}
	}

	.site-nav__icon {
		color: $black;

		@include mq($xl) {
			color: $white;
			padding: 4px 5px;
			top: 2px;
			transform: rotate(90deg);

			&.is-active {
				transform: rotate(270deg);
			}
		}
	}
}

/*--------------------------------------------------------------
## Post Nav
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {
	font-weight: bold;
	font-size: 14px;

	.site-main & {
		margin: 50px 0;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	a {
		@include hover {
			color: $red;
			transition: $dur $ease;
		}
	}
}
