/*--------------------------------------------------------------
## Select2 custom
--------------------------------------------------------------*/
.custom-select { // this is global class for select-s to hide it before js is loaded
	display: none;
}

.select2-container {
	width: 100%;
	max-width: 300px;

	.select2-selection--single {
		height: 36px;
		transition: border $dur $ease;

		&:focus {
			outline: none;
		}

		.select2-selection__rendered {
			font-family: $font-main;
			font-size: 16px;
            color: $black;
            text-align: left;
			font-weight: 500;
			padding-left: 15px;
			padding-right: 30px;
			line-height: 34px;
		}

		.select2-selection__arrow {
			height: 34px;
			width: 30px;
			right: 0;
			// TODO: replace with SVG icon
			//@include font(ico-chevron-down);

			&::before {
				@include center;
				font-size: 22px;
				color: $black;
				transition: $dur $ease;
			}

			b {
				display: none;
			}
		}
	}
}

.select2-container--default {
	.select2-selection--single {
        border-radius: 4px;
	}

	.select2-dropdown {
		box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
		border: 0;
		border-radius: 4px;
		overflow: hidden;
	}

	.select2-search--dropdown {
		padding: 15px 20px 10px;

		.select2-search__field {
			font-size: 16px;
			padding: 8px 10px;
			border-radius: 4px;
		}
	}

	.select2-results__option[aria-disabled='true'] {
		display: none;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: rgba($black, 0.15);
		color: $white;
	}

	.select2-results__option[aria-selected='true'] {
		color: $white;
		background-color: rgba($black, 0.25);
	}
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border-radius: 4px 4px 0 0;

	.select2-selection__arrow {
		&::before {
			transform: translate(-50%, -50%) rotate3d(1, 0, 0, -180deg);
		}
	}
}

.select2-container--open {
	.select2-dropdown--below {
		border-radius: 0 0 4px 4px;
	}
}

.select2-results__option {
	font-family: $font-main;
	font-size: 16px;
	color: $black;
	font-weight: 500;
	padding: 6px 14px;
	transition: color $dur $ease, background-color 0.2s ease;
	position: relative;

	@include mq($xl) {
		font-size: 15px;
		padding: 4px 10px;
		font-weight: 400;
	}
}

.select2-results__options {
	position: relative;
}
