/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
input[type='submit'],
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: $green;
	color: $white;
	padding: 5px 10px;
	outline: none;
	min-width: 238px;
	max-width: 238px;
	height: 80px;
	letter-spacing: 1.5px;
	transition: $dur $ease;

	@include hover {
		background-color: $green-grey;
		color: $white;
	}

	@include mq($lg) {
		min-width: 200px;
		min-height: 60px;
	}
}

.btn--big {
	min-width: 250px;
	padding: 10px 20px;
}

.btn--green {
	border: 1px solid $green;
	background-color: $green;
	color: $white;

	@include hover {
		background-color: $white;
		color: $green;
	}
}
