.tabs-section {
    background-color: $grey-light;
    height: 680px;

    @include mq($md) {
        height: 900px;
    }

    @include mq($sm) {
        height: 1200px;
    }
}

.tabs-section__container {
    margin: 0 -55px;
    position: relative;
    z-index: 20;

    @include mq(1510px) {
        margin: 0;
    }
}

.tabs-section__heading-box {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.tabs-section__heading {
    font-family: $font-main-bold;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin: 50px 0 45px;

    @include mq($lg) {
        font-size: 40px;
    }

    @include mq($md) {
        font-size: 35px;
    }
}

.green-letter {
    color: $green;
}

/*------------------------------------------------- 
## Tab Divider
-------------------------------------------------*/

.tabs-section__tab-divider-box {
    display: flex;
    width: 100%;
}

.tabs-section__tab-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    background-color: $white;
    transition: $dur $ease;

    &:hover {
        background-color: $green-grey;
        cursor: pointer;

        > .tabs-section__tab-divider-icon {
            color: $white;
        }

        > .tabs-section__tab-divider-heading {
            color: $white;
        }
    }

    &.active {
        background-color: $green;

        > .tabs-section__tab-divider-icon {
            color: $white;
        }

        > .tabs-section__tab-divider-heading {
            color: $white;
        }

        &:hover {
            background-color: $green-grey;
            cursor: pointer;
        }
    }

    @include mq($lg) {
        padding: 10px 15px;
    }

    @include mq($md) {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }
}

.tabs-section__tab-divider-icon {
    font-size: 40px;
    margin-right: 17px;
    color: $green;

    @include mq($md) {
        font-size: 30px;
    }
}

.tabs-section__tab-divider-heading {
    font-family: $font-main-bold;
    font-size: 20px;
    margin-top: 8px;
    margin-right: -2px;
    letter-spacing: 0.5px;
    color: $green;

    @include mq($lg) {
        font-size: 18px;
    }

    @include mq($md) {
        font-size: 14px;
        text-align: center;
    }
}

/*-------------------------------------------- 
## Tab Content
---------------------------------------------*/

.tabs-section__tab-content-box {
    display: none;
    flex-direction: column;
    padding: 80px;
    padding-top: 50px;
    width: 100%;
    background-color: $white;

    &.active {
        display: flex;
    }

    @include mq($lg) {
        padding: 40px 30px;
    }

    @include mq($md) {
        padding: 35px 30px;
    }
}

.tabs-section__tab-content-upper-box {
    display: flex;
    width: 100%;

    @include mq($lg) {
        margin-bottom: 15px;
    }

    @include mq($md) {
        flex-direction: column;
    }
}


.tabs-section__tab-content-text-box {
    width: 50%;

    @include mq($md) {
        width: 100%;
    }
}

.tabs-section__tab-content-pre-heading {
    color: $grey-mid;
    font-size: 14px;
}

.tabs-section__tab-content-heading {
    font-size: 25px;
    font-family: $font-main-bold;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: $grey-dark;
    margin-bottom: 45px;

    @include mq($md) {
        font-size: 20px;
    }
}

.tabs-section__tab-content-heading--small {
    font-size: 18px;
    color: $grey-dark;
    font-family: $font-main-bold;
    margin-bottom: 10px;

    @include mq($md) {
        font-size: 17px;
    }
}

.tabs-section__tab-content-paragraph {
    font-size: 18px;
    color: $grey;

    @include mq($lg) {
        font-size: 16px;
    }

    @include mq($md) {
        font-size: 15px;
    }
}

.tabs-section__tab-content-media-box {
    width: 50%;
    padding-left: 212px;
    padding-top: 29px;
    margin: auto 0;

    @include mq(1300px) {
        padding-left: 106px;
    }

    @include mq($xl) {
        padding-left: 0;
    }

    @include mq($md) {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*-------------------------------------------
## Tabs section features
---------------------------------------------*/

.tabs-section__tab-content-lower-box {
    margin-top: -5px;

    @include mq($md) {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}


.tabs-section__tab-content-features-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;

    @include mq($xl) {
        justify-content: center;
    }

    @include mq($lg) {
        justify-content: space-between;
    }

    @include mq($sm) {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}

.tabs-section__tab-content-features-heading {
    font-family: $font-main-bold;
    font-size: 18px;
    color: $grey;
    margin-bottom: 25px;

    @include mq($md) {
        font-size: 17px;
    }

    @include mq($sm) {
        text-align: center;
    }
}

.tabs-section__tab-content-feature-card {
    display: flex;
    // if long word should break uncomment this and line 333
    // max-width: 160px;
    margin-right: 80px;

    @include mq($lg) {
        margin-right: 60px;
    }

    @include mq($md) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    @include mq($sm) {
        min-width: 150px;
        justify-content: space-between;
    }
}

.tabs-section__feature-card-icon {
    max-width: 40px;
    margin: auto 0;
    margin-right: 15px;

    @include mq($md) {
        max-width: 35px;
    }
}

.tabs-section__feature-card-text {
    font-size: 18px;
    color: $grey;
    margin-top: 8px;
    // if long word should break uncomment
    // overflow-wrap: anywhere; 

    @include mq($md) {
        font-size: 15px;
    }

    @include mq($md) {
        text-align: center;
    }
}

.tabs-section__tab-content-btn {
    position: relative;
    display: inline-block;
    padding: 25px 28px;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    color: $grey-dark;
    border: 2px solid $green;
    transition: $dur $ease;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 50%;
        height: 80%;
        border-top: none;
        border-right: 2px solid $white;
        border-left: none;
        border-bottom: 2px solid $white;
        transition: $dur $ease;
    }

    &:hover {
        color: $green;
    }

    @include mq($md) {
        font-size: 15px;
    }
}

// .tabs-section__feature-card-icon {
//     font-size: 40px;
//     color: $green;
// }

