.box-section {
    position: relative;
    overflow: hidden;
}

.box-section__background-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    @include mq($xl) {
        width: 0%;
    }
}

.box-section__container {
    position: relative;
    padding-top: 300px;
    padding-left: 1.69%;
    z-index: 3;

    @include mq($xl) {
        padding-top: 400px;
    }

    @include mq($sm) {
        padding-top: 250px;
    }

    @include mq(385px) {
        padding-top: 350px;
    }
}

.box-section__heading-box {
    margin-top: 115px;
    margin-bottom: 44px;

    @include mq($xl) {
        margin-top: 55px;
    }

    @include mq($sm) {
        margin-top: 90px;
    }
}

.box-section__heading {
    font-family: $font-main-bold;
    font-size: 50px;
    letter-spacing: 1.1px;
    color: $grey-light;

    @include mq($md) {
        font-size: 35px;
    }
}

.box-section__box-cards-wrapper {
    padding-right: 25px;
    margin-bottom: 115px;

    @include mq($xl) {
        padding-right: 25px;
    }

    @include mq($md) {
        margin-bottom: 65px;
    }
}

.box-section__card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 40px 40px 55px;
    margin-bottom: 32px;
    height: 395px;
    z-index: 1;

    &:hover {

        & .box-section__card-background-img-container {
            opacity: 1;
        }

        .box-section__card-icon {
            visibility: hidden;
        }

        & .box-section__card-heading {
            color: $white;
        }

        & .box-section__card-text {
            color: $white;
        }

        & .box-section__card-link {
            color: $white;

            &:hover {
                cursor: pointer;
                color: $green;
            }
        }
    }

    &--last {
        padding: 50px 38px 59px;
        background-color: transparent;
        // border: 2px solid $green;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            width: 50%;
            height: 100%;
            border-top: 2px solid $green;
            border-bottom: 2px solid $green;
            border-left: 2px solid $green;
        }

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            width: 55%;
            height: 20%;
            border-top: 2px solid $green;
            border-right: 2px solid $green;
        }

        & .box-section__card-heading  {
            color: $grey-light;

            @include mq($sm) {
                text-align: center;
            }
        }

        & .box-section__card-text {
            color: $grey-light;

            @include mq($sm) {
                text-align: center;
            }
        }

        & .btn {
            position: relative;
            min-width: 237px;
            max-width: 237px;
            height: 92px;
            margin-top: 38px;
            margin-left: 5px;
            z-index: 20;

            &:hover {
                background-color: $white;
                color: $green-grey;
            }

            @include mq($sm) {
                min-width: 200px;
                max-width: none;
                max-height: 60px;
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }

    @include mq($lg) {
        height: 330px;
    }

    @include mq($sm) {
        height: 250px;
        padding: 30px;
    }

}

.box-section__card-background-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transition: $dur $ease;

    & > .box-section__card-background-img {
        position: absolute;
        filter: brightness(40%);
        min-width: 110%;

        @include center;

        @include mq(1360px) {
            min-width: 130%;
        }

        @include mq($xl) {
            min-width: 106%;
        }

        @include mq($sm) {
            min-width: 130%;
        }
    }
}

.box-section__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.box-section__card-text-box {
    display: flex;
    flex-direction: column;
}

.box-section__card-icon {
    width: 69px;
    margin-bottom: 30px;

    @include mq($md) {
        width: 50px;
    }

    @include mq($sm) {
        width: 45px;
        margin-bottom: 20px;
    }
}

.box-section__card-heading {
    font-family: $font-main-bold;
    font-size: 25px;
    line-height: 30px;
    color: $grey-dark;
    margin-bottom: 11px;
    letter-spacing: 0.5px;
    transition: $dur $ease;

    @include mq($md) {
        font-size: 20px;
    }
    
    @include mq($sm) {
        font-size: 18px;
    }
}

.box-section__card-text {
    font-size: 18px;
    color: $grey;
    transition: $dur $ease;

    @include mq($md) {
        font-size: 16px;
    }

    @include mq($sm) {
        font-size: 15px;
    }
}

.box-section__card-link {
    display: inline-block;
    width: fit-content;
    font-size: 18px;
    color: $green;
    transition: $dur $ease;

    &-icon {
        // color: $green;
        margin-left: 15px;
        padding-bottom: 11px;
    }

    @include mq($md) {
        font-size: 16px;
    }

    @include mq($sm) {
        font-size: 15px;
    }
}

.box-section__pop-up {
    display: none;
    background-color: $grey-light;
    padding: 25px;
    box-shadow: 2px 2px 19px -7px rgba($black, .75);
    z-index: 999;

    @include center;
}

.box-section__pop-up-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-family: $font-main-bold;
    max-width: 730px;

    &:hover {
        cursor: pointer;
        color: $green;
    }

}

.box-section__pop-up.active {
    display: block;
}
