/*--------------------------------------------------------------
## blog-listing
--------------------------------------------------------------*/
.blog-listing {
	padding: 50px 0;
}

.blog-listing__head {
	margin-bottom: 30px;
}

.blog-listing__desc {
	margin: 15px 0 0;
}
