/*--------------------------------------------------------------
## blog-single
--------------------------------------------------------------*/
.blog-single {
	padding: 50px 0;
}

.blog-single__meta {
	background-color: $grey-light;
	margin: 30px 0;
	padding: 20px;
}

.blog-single__featured-image {
	margin-bottom: 30px;

	img {
		width: 100%;
		display: block;
	}
}
