/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.copyright {
	background-color: $black;
	padding: 25px 15px;
	text-align: center;
	line-height: 1.3;

	p {
		color: $white;
		margin: 0;
	}
}
