/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer__container {
	display: flex;
	padding: 55px 20px 55px 25px;

	@include mq($lg) {
		padding: 50px 15px;
	}

	@include mq($md) {
		flex-direction: column;
		align-items: center;
	}
}

.footer__contact-box {
	display: flex;
	flex-direction: column;
	max-width: 603px;
	margin-right: 110px;

	@include mq($lg) {
		margin-right: 50px;
	}

	@include mq($md) {
		align-items: center;
		margin-right: 0;
	}
}

.footer__heading {
	font-family: $font-main-bold;
	font-size: 40px;
	color: $white;
	line-height: 54px;
	letter-spacing: 1px;
	margin: 10px 0 40px;

	@include mq($md) {
		text-align: center;
		font-size: 35px;
	}

	@include mq($sm) {
		font-size: 30px;
		line-height: 40px;
	}
}

.site-nav__list-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include mq($xl) {
		& > .menu-item {
			border-bottom: 0;
		}
	}

	@include mq($md) {
		align-items: center;
	}
}

.footer__content {
	// display: inline;
	position: relative;
	color: $white;
	font-size: 16px;
	letter-spacing: 0.1px;
	margin-bottom: 22px;
	width: fit-content;
	transition: $dur $ease;

	&-telephone-link {
		margin-bottom: 22px;
		letter-spacing: 0.5px;
	}

	&:hover {
		color: $green;
	}

	@include mq($md) {
		text-align: center;
	}
}

.footer__social-links-box {
	display: flex;
	margin-top: 25px;

	@include mq($md) {
		justify-content: space-between;
	}
}

.footer__social-link {
	margin-right: 39px;
	
	@include mq($md) {
		margin-right: 20px;

		&-instagram {
			margin-right: 0;
		}
	}
}

.footer-icon {
	color: $white;
	transition: $dur $ease;

	&__facebook {
		font-size: 23px;
	}

	&__instagram {
		font-size: 25px;
	}

	&:hover {
		color: $green;
	}
}

.footer-navigation__box {
	max-width: 280px;
	min-width: 230px;
	padding: 20px 7px;

	// &.second {
	// 	margin-left: 85px;

	// 	@include mq($lg) {
	// 		margin-left: 0;
	// 	}
	// }

	@include mq($lg) {
		min-width: 160px;
	}
}

/*--------------------------------------------------------------
## Sub-Footer
--------------------------------------------------------------*/
.sub-footer__container {
	display: flex;
	justify-content: space-between;
	padding: 17px 23px;

	@include mq($lg) {
		flex-direction: column;
		align-items: center;
	}
}

.site-footer__logo {
	display: inline-block;
	max-width: 200px;

	@include mq($sm) {
		max-width: 160px;
	}
}

.sub-footer__copyright-box {
	display: flex;
	justify-content: flex-start;
	padding-right: 160px;
	padding-top: 11px;

	@include mq($xl) {
		padding-right: 0;
	}
}

.sub-footer__text {
	color: rgba($white, .5);
	font-size: 16px;
	letter-spacing: 0.1px;

	&-fws {
		color: $green;
		margin-left: 6px;

		&:hover {
			color: $white;
		}
	}

	@include mq($lg) {
		text-align: center;
	}

	@include mq($md) {
		font-size: 15px;
	}

	@include mq($sm) {
		font-size: 13px;
	}
}