/*----------------------------------------------------------
# ACF SVG Field
----------------------------------------------------------*/
#toplevel_page_fws-settings {
	.dashicons-before > img {
		padding-top: 5px;
	}

	.current img {
		opacity: 1;
	}
}

#poststuff .fws-checkbox-icons-list,
.fws-radio-icons-list {
	display: flex;
	flex-flow: wrap;

	li {
		width: 33%;
		display: flex;
		align-items: center;
		margin: 3px 0;

		@include mq(1650px) {
			width: 50%;
		}

		@include mq(1220px) {
			width: 100%;
		}

		label {
			width: 100%;
			display: flex;
			align-items: center;
		}
	}

	input {
		position: absolute;
		left: 0;
	}

	.acf-checkbox-toggle {
		position: relative;
	}

}

.fws-checkbox-icons-list__icon {
	height: 15px;
	left: 29px;
	display: block;
	@include center(y);
}

.fws-radio-icons-list__name,
.fws-checkbox-icons-list__name {
	transform: translateX(54px);
}

.fws-svg-icon {
	.acf-input-prepend {
		float: none;
		border-right-width: 1px;
		border-radius: 3px;
		width: 100px;
		height: 100px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		visibility: hidden;
		opacity: 0;
		transition: 200ms ease;

		&.is-active {
			visibility: visible;
			opacity: 1;
		}

		.acf__admin-icon-svg {
			font-size: 50px;
		}
	}

	.acf-input-wrap {
		width: 100px;
		visibility: hidden;
		opacity: 0;
		transition: 200ms ease;

		&.is-active {
			visibility: visible;
			opacity: 1;
		}

		input.acf-is-prepended {
			display: block;
			padding: 0;
			line-height: 1;
			font-size: 12px;
			text-align: center;
			width: 100%;
			pointer-events: none;
			border: 0;
			background: none;
		}
	}
}

.acf__admin-icon-deselect {
	font-size: 14px;
	border: 1px solid $white;
	padding: 10px;
}

.acf__admin-icons-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: 200ms ease;
}

.acf__admin-icons-wrap.is-active {
	visibility: visible;
	opacity: 1;
}

.acf__admin-icons-wrap * {
	box-sizing: border-box;
}

.acf__admin-icons {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	width: 100%;
	position: absolute;
	top: 150px;
	@include center(x);
}

.acf__admin-icons-close {
	position: absolute;
	top: -10px;
	right: -10px;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	transform: translate(100%, -100%);
	cursor: pointer;
}

.acf__admin-icon-wrap {
	width: 20%;
	padding: 30px;
	outline: 0;
	text-decoration: none;
	color: $white;
	transition: 300ms ease;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	margin-bottom: 15px;
	position: relative;
}

.acf__admin-icon-wrap:focus {
	outline: none;
	box-shadow: none;
}

.acf__admin-icon-wrap:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.acf__admin-icon {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.acf__admin-icon-text {
	font-size: 12px;
	color: $white;
	bottom: 5px;
	@include center(x);
}

.acf__admin-icon-wrap svg * {
	fill: $white;
}

.acf__chose-icon .acf-input-prepend {
	float: none;
	border-width: 1px;
	cursor: pointer;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 300ms ease;
}

.acf__chose-icon:hover .acf-input-prepend {
	opacity: .7;
}

.acf__chose-icon input {
	pointer-events: none;
	opacity: .5;
	text-align: center;
}

.acf__admin-icon__fake-field {
	display: flex;
	align-items: center;
	justify-content: center;
}

.acf__admin-icon__fake-field svg {
	display: block;
	width: 40px;
}

.acf__admin-icon__fake-field svg * {
	fill: $black;
}

.acf__admin-icon-svg {
	font-size: 75px;
}

.svg-icon {
	display: inline-flex;
	line-height: 1;

	svg {
		width: 1em;
	}
}
