$fws-red: #e2401c;

.fws-cf7-init #contact-form-editor {
	#html-template-tab {
		background-color: $fws-red;

		> a {
			color: $white;
		}

		&.ui-tabs-active {
			background-color: #f5f5f5;
			border-top: 1px solid $fws-red;
			border-right: 1px solid $fws-red;
			border-left: 1px solid $fws-red;

			> a {
				color: $fws-red;
			}
		}
	}

	#cf7-html-wrap .cf7-html-title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 30px;
		padding-bottom: 15px;
		border-bottom: 2px solid $fws-red;

		img {
			display: block;
			width: 50px;
			margin-right: 5px;
		}

		h2 {
			font-weight: bold;
			font-size: 25px;
			color: $fws-red;
			line-height: 1;
		}
	}

	.cf7-select-templates-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		label {
			display: block;
			font-weight: bold;
			color: $fws-red;
		}
	}

	.cf7-html-temp-msg {
		background: $fws-red;
		color: $white;
		padding: 5px 10px;
		margin: 15px 0;
		font-weight: bold;
		width: 99%;
		box-sizing: border-box;

		a {
			color: #ffa500;
		}
	}

	.cf7-html-wrap {
		box-sizing: border-box;
		padding: 0;

		* {
			box-sizing: border-box;
		}
	}

	.cf7-html-temp-preview-wrap {
		label {
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
			color: $fws-red;
		}

		textarea {
			box-shadow: 0 0 0 transparent;
			border-radius: 4px;
			border: 1px solid #7e8993;
			background-color: #fff;
			color: #32373c;
			opacity: .7;
			width: 100%;
			min-height: 300px;
		}
	}
}
