/*--------------------------------------------------------------
## check-list
--------------------------------------------------------------*/
.check-list {
	margin-top: 30px;
}

.check-list__item {
	display: flex;
	align-items: center;
}
