.reviews {
    background-color: $grey-light;
    overflow: hidden;

    .btn {
        height: 90px;
    }
}

.reviews__container {
    display: flex;
    flex-direction: column;
    padding: 197px 23px 150px;
}

.reviews__numbers-boxes-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.reviews__numbers-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.48%;
    height: 41.1vh;
    padding: 35px;
    border: 2px solid $green;

    &:nth-of-type(1) {
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            width: 50%;
            height: 80%;
            border-top: 2px solid $grey-light;
            border-right: 2px solid $grey-light;
        }
    }

    &:nth-of-type(2) {
        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: -2px;
            width: 50%;
            height: 80%;
            border-bottom: 2px solid $grey-light;
            border-left: 2px solid $grey-light;
        }
    }

    &:nth-of-type(3) {
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            width: 50%;
            height: 80%;
            border-top: 2px solid $grey-light;
            border-left: 2px solid $grey-light;
        }
    }
}

.reviews__number {
    font-family: $font-default-sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: $grey-dark;
    line-height: 75px;
    letter-spacing: 1px;
    margin-top: -13px;
}

.review__number-text {
    font-size: 24px;
    color: $grey-dark;
}

.reviews__slider-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__slider-headnig-box {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
}

.reviews__slider-heading {
    font-family: $font-main-bold;
    font-size: 48px;
    letter-spacing: 1px;
    color: $black-alt;
}

.reviews__slider-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.slick-list {
    overflow: visible;
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 24px 0 0;
	padding: 1rem 0;
	list-style-type: none;
	
		li {
			margin: 0 10px;
		}
	
		button {
			display: block;
			width: 16px;
			height: 16px;
			padding: 0;
			border: 1px solid $grey-mid;
			border-radius: 100%;
			background-color: $white;
			text-indent: -9999px;
		}
	
		li.slick-active button {
            padding: 3px;
            outline: 1px solid $grey-mid;
            border: 3px solid $white;
			background-color: $green;
		}
	
}

.slick-button {
    position: relative;
    box-shadow: 0 0 20px 20px rgba($grey-light, .75);
    background-color: $white;
    padding: 5px 20px 15px;
    color: $grey-dark;
    border: none;
    border-radius: 100%;
    font-size: 37px;
    margin-top: -75px;
    transition: $dur $ease;
    z-index: 20;

    &-prev {
        margin-right: -80px;
    }

    &-next {
        margin-left: -80px;
    }

    &:hover {
        background-color: $green;
        color: $white;
    }
}

.reviews__slider-box {
    max-width: 870px;
}

.slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
}

.reviews__slider-card {
    align-items: center;
    max-width: 750px;
    margin: 0 15px;
    background-color: $white;
    padding: 50px;
    padding-bottom: 45px;
}

.reviews__slider-card-quote-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.reviews__slider-card-text {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: $black-alt;
    margin-bottom: 72px;
}

.reviews__slider-card-rating {
    margin-bottom: 15px;
}

.reviews__slider-card-username {
    font-family: $font-main-bold;
    font-size: 18px;
    color: $black-alt;
}